<h1> the index page (index.html.erb)</h1>

<!link_to(body, url, html_options = {})>

<!<a href="new_user_url"><!Create a new user</a>
<a href='/users/new'>Create a new user!</a>

<br>
<br>

<% if @users %>
  <% @users.each do |user| %>
    <%= user.name %>
    <br>
  <% end %>
  <! list the users' name as a link to their edit page,
  also list their RSVP data
  also a delete button
  maybe an ability to add comments for each day?>
<% end %>
