<h1> the new page (new.html.erb) </h1>

<form action="/users" method="post">
  <!-- input elements -->
  <input type="text" name="user[name]">
  <input type="submit" value="Create userrr">
</form>
<br>
<a href='/users'>Create a new userrrrr!</a>
<br>
<br>
<a href='/users/create'>Look at how this links to show (create == user id in this case)</a>
